@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
}

:root {
  --primary-color: #552583;
  --secondary-color: #64e0bb;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}