@import '../css/index.css';

.navbar-bg {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav-link {
    color: var(--secondary-color);
}

.recipe-logo {
    width: 50px;
}